.react-calendar {
  width: 100%;
  max-width: 300px;
  height: auto;
  background-color: #f0f0f0;
  border: 1px solid #d7d7d7;
  font-family: 'hearts', sans-serif;
}

.react-calendar__navigation {
  background-color: #4e2b56;
  color: white;
}

.react-calendar__navigation button {
  color: white;
}

.react-calendar__month-view__days__day--weekend {
  color: #4e2b56;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #b5a2c8;
}

.react-calendar__navigation button {
  font-family: 'hearts', sans-serif;
  color: white;
}

.react-calendar__tile--now {
  background: #4e2b56;
  color: white;
}
