.title,
.about,
.home,
.my__posts {
  margin-top: 20px;
  position: relative;
  border: ridge 4px #b5a2c8;
  outline: solid 5px black;
  background: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: auto;
}

.my__posts {
  min-height: 1640px;
  max-height: 1640px;
}

.title,
.home,
.about {
  margin-bottom: 50px;
}

.about {
  max-height: 1640px;
  overflow-y: scroll;
}

.home__content {
  margin-bottom: 100px;
}

.home__info {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my__posts {
  overflow-y: scroll;
}

.images__home,
.about__images {
  width: 90%;
  margin-top: 30px;
  margin-bottom: 20px;
}

.text {
  font-size: 20px;
  width: 90%;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.home__info span {
  font-weight: bold;
  font-size: 30px;
}

.welcome p {
  color: #ffffff;
}

.content-section {
  display: flex;
  flex-direction: column;
}

.content__item {
  margin-top: 20px;
  margin-bottom: 20px;
}

.content-section p {
  font-size: 16px;
  margin-bottom: 20px;
}

.content-section h3 {
  margin-top: 20px;
  font-size: 21px;
  margin-bottom: 5px;
}

.all_posts {
  margin-top: 40px;
  margin-bottom: 30px;
}

.form h2 {
  font-weight: bold;
  font-size: 30px;
  margin-top: 40px;
}

.form input,
textarea {
  font-family: 'hearts', sans-serif;
  border-radius: 10px;
  margin-bottom: 20px;
}

.form label {
  display: block;
  font-weight: bold;
  text-align: left;
}

.form .button__popup {
  margin-top: 20px;
  cursor: pointer;
  font-family: 'hearts', sans-serif;
  padding: 10px 20px;
  font-size: 16px;
  background-image: url('https://i.pinimg.com/originals/8a/dc/49/8adc4938fa01a4da17246061dbf61585.gif');
  color: white;
  border-radius: 10px;
}

.form .button__popup:hover {
  background-color: #f0f0f0;
  background-image: url('https://i.pinimg.com/originals/ab/12/29/ab12297c17aea188fa41e7818706b961.gif');
  color: white;
}

.create__post .popup-inner {
  top: -200px;
}

.buttons__post {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-right: 50px;
}
