@font-face {
  src: url(https://dl.dropbox.com/s/gavkuhehligvhz8/PsycheLover-Regular.otf);
  font-family: psyche;
}

.login__page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('https://i.postimg.cc/BZjWFTYk/image-2024-05-07-175311614.png');
  background-size: cover;
  background-position: center;
  width: 100%;
}

.login__page body {
  font-family: 'OffBit Trial', sans-serif;
}

.login {
  width: 420px;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 10px;
  padding: 30px 40px;
  margin-top: 30px;
}

.login img {
  width: 200px;
  height: 100px;
  margin: 20px auto;
  margin-bottom: -10px;
  display: block;
}

.login h1 {
  margin-top: 20px;
  font-family: 'psyche', sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 1rem;
  padding-top: 30px;
}

.login h2 {
  font-size: 30px;
  text-align: center;
  padding: 1rem;
  padding-top: 40px;
  padding-bottom: 10px;
}

.input__box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input__box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px;
  font-family: 'OffBit Trial', sans-serif;
}

.input__box input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.input__box input:-webkit-autofill,
.input__box input:-webkit-autofill:hover,
.input__box input:-webkit-autofill:focus,
.input__box input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white;
  color: white;
  box-shadow: 0 0 0px 1000px transparent inset;
}

.input__box input:-moz-autofill,
.input__box input:-moz-autofill:hover,
.input__box input:-moz-autofill:focus,
.input__box input:-moz-autofill:active {
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
  color: white;
  box-shadow: 0 0 0px 1000px transparent inset;
}

.input__box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.remember__me {
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin: -15px 0 15px;
}

.remember__me label input {
  font-size: 16px;
  accent-color: white;
  margin-right: 4px;
}

.register__link h3 {
  font-weight: lighter;
  font-size: 18px;
}
.register__link p {
  font-size: 18px;
}
.register__link p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.login button {
  font-family: 'OffBit Trial', sans-serif;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 45px;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  font-weight: 700;
  transition: color 0.4s ease;
  z-index: 1;
}

.login button::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #a04544;
  transition: left 0.4s ease;
  border-radius: 20px;
  z-index: -1;
}

.login button:hover::after {
  left: 0;
}

.login button:hover {
  color: white;
}

.login .register__link {
  font-size: 14px;
  text-align: center;
  margin: 20px 0 15px;
}

.register__link p a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.register__link p a:hover {
  text-decoration: underline;
}
