@font-face {
  src: url(https://dl.dropbox.com/s/1479f8x52y3z5u4/rainyhearts.ttf);
  font-family: hearts;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'hearts', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
